.studySection {
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.studyPlan-container {
    background: #ffffff4d;
}
.studyClac-container {
    background: #0000ff45;
    padding: 2rem 1rem;
    margin: 4.125rem 0;
    border-radius: 0.5em;
    background: #1c7d7d3b;
    padding: 2rem 1rem;
    margin: 4.125rem 0;
    border-radius: 0.5em;
    box-shadow: rgb(0 0 0 / 29%) 0px 1px;
    margin: 1rem;

}
.activity-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    margin: 2rem;
}
.blogArticle {
    text-align: center;
    margin: 2rem 1rem;
}
.blogArticle h1 {
    font-size: 2rem;
}
.blogArticle p {
    font-size: 1.5rem;
}
.selectStudy {
    padding: 1rem 3rem;
    color: rgb(28, 125, 125);
    font-size: 2rem;
}

@media screen and (max-width: 1300px){
    .activity-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 800px){
    .activity-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 1rem;
    }
}
@media screen and (max-width: 800px){
    .studySection {
        grid-template-columns: auto;
    }
}

