* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0 5rem;
}
button {
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: .5em;
  border: none;
  background: #1c7d7d;
  color: #fff;
  cursor: pointer;
}